ExempleWS/src/OrderService/WebContent/WEB-INF/wsdl/EBS/CeA/ecommerce/InvoiceV1.wsdl

<wsdl:definitions name="InvoiceV1" 
	targetNamespace="http://www.cea.com.br/EBS/CEA/ecommerce/invoice/v1" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.cea.com.br/EBS/CEA/ecommerce/invoice/v1" 
	xmlns:cea="http://www.cea.com.br/EBO/CEA/v1">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.cea.com.br/EBS/CEA/ecommerce/invoice/v1">
			<xsd:include schemaLocation="InvoiceEBS.xsd"/>
			<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="../../../EBO/CeA/v1/commons/MetaInformacaoEBO_v1.xsd"/>
			<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="../../../EBO/CeA/v1/fault/BusinessFaultEBO_v1.xsd"/>
			<xsd:import namespace="http://www.cea.com.br/EBO/CEA/v1" schemaLocation="../../../EBO/CeA/v1/fault/TechnicalFaultEBO_v1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="PreInvoiceRequest_Message">
		<wsdl:part name="parameters" element="tns:PreInvoiceRequest"/>
	</wsdl:message> 
	<wsdl:message name="PreInvoiceResponse_Message">
		<wsdl:part name="parameters" element="tns:PreInvoiceResponse"/>
	</wsdl:message>
	<wsdl:message name="MetaInformacao_Message">
   		<wsdl:part name="header" element="cea:MetaInformacao"/>
  	</wsdl:message>
	<wsdl:message name="TechnicalFaultMsg">
		<wsdl:part name="TechnicalFault" element="cea:TechnicalFault"/>
	</wsdl:message>
	<wsdl:message name="BusinessFaultMsg">
		<wsdl:part name="BusinessFault" element="cea:BusinessFault"/>
	</wsdl:message>
	
	<wsdl:portType name="Invoice_PortType">
		<wsdl:operation name="PreInvoice">
			<wsdl:input message="tns:PreInvoiceRequest_Message"/>
			<wsdl:output message="tns:PreInvoiceResponse_Message"/>
			<wsdl:fault name="TechnicalFault" message="tns:TechnicalFaultMsg"/>
			<wsdl:fault name="BusinessFault" message="tns:BusinessFaultMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="Invoice_Binding" type="tns:Invoice_PortType">
		<soap:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
		<wsdl:operation name="PreInvoice">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:MetaInformacao_Message" part="header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="BusinessFault">
				<soap:fault name="BusinessFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="Invoice_Service">
		<wsdl:port name="Invoice_Service" binding="tns:Invoice_Binding">
			<soap:address location="http://localhost:7001/Invoice/InvoiceV1"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>